* {
  display: flex;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: #c3c4c6;
  padding: 0.6rem 1rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  transition: all 0.2s ease;
  border: 1px solid transparent;

  &__icon {
    width: 18px;
    height: 18px;
    color: #94a3b8;
    flex-shrink: 0;
    transition: color 0.2s ease;
  }

  &__input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 0.9rem;

    color: #1e293b;

    &::placeholder {
      color: #94a3b8;
      font-size: 0.875rem;
    }
  }
}