* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem 0rem 2rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: #e7e7e8;
  padding: 0.6rem 1rem;
  border-radius: 12px;
  width: 50%;
  max-width: 400px;
  transition: all 0.2s ease;
  border: 1px solid transparent;
  margin: 20px;

  &__icon {
    width: 18px;
    height: 18px;
    color: #94a3b8;
    flex-shrink: 0;
    transition: color 0.2s ease;
  }

  &__input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 0.9rem;

    color: #1e293b;

    &::placeholder {
      color: #94a3b8;
      font-size: 0.875rem;
    }
  }
}

.buttons-account {

  &__buttons {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #1c274c;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #f1f5f9;
      }

      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}