* {
    display: flex;
}

.search-bar {
  display: flex;
  padding: 9px;

  &:focus-within {
    background-color: #ffffff;
    border-color: #cbd5e1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    .search-bar__icon {
      color: #3b82f6;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    color: #94a3b8;
    flex-shrink: 0;
    transition: color 0.2s ease;
  }

  &__input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 0.9rem;
    
    color: #1e293b;

    &::placeholder {
      color: #94a3b8;
      font-size: 0.875rem;
    }
  }
}